p { color: rgb(197, 197, 197); }
        div { 
            color: rgb(0, 0, 0); 
            background-color: rgb(255, 255, 255); 
        }

        span {
            font-size: 18px;
            font-weight: bold;
        }

        body {
            background-color: rgb(31, 31, 31);
            color: white;
        }